<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HelloSpring</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <h1>Hello World</h1>
        
        <div th:if="${people != null and !people.empty}">
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                <tr th:each="person : ${people}">
                    <td th:text = "${person.name}"></td>
                    <td th:text = "${person.lastname}"></td>
                    <td th:text = "${person.email}"></td>
                    <td th:text = "${person.phone}"></td>
                </tr>
            </table>
        </div>
        <div th:if="${people == null or people.empty}">
            People list is empty!!
        </div>
    </body>
</html>
